<?xml version="1.0"?>
<config>
    <modules>
        <bc_megamenu>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </bc_megamenu>
    </modules>
    <frontend>
        <routers>
            <magemenu>
                <use>standard</use>
                <args>
                    <module>bc_megamenu</module>
                    <frontName>megamenu</frontName>
                </args>
            </magemenu>
        </routers>
        <layout>
            <updates>
                <megamenu>
                    <file>megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <megamenu>
                <use>admin</use>
                <args>
                    <module>bc_megamenu</module>
                    <frontName>megamenu</frontName>
                </args>
            </megamenu>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <bluecom translate="title">
                <title>MegaMenu</title>
                <sort_order>110</sort_order>
                <children>
                    <megamenu module="megamenu">
                        <title>MegaMenu</title>
                        <sort_order>0</sort_order>
                        <children>
                            <groups module="megamenu">
                                <title>Manage Menu Groups</title>
                                <sort_order>0</sort_order>
                                <action>megamenu/adminhtml_megamenu/group</action>
                            </groups>
                            <setting module="admin">
                                <title>Settings</title>
                                <sort_order>2</sort_order>
                                <action>adminhtml/system_config/edit/section/bc_megamenu</action>
                            </setting>
                        </children>
                    </megamenu>
                </children>
            </bluecom>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <megamenu translate="title" module="megamenu">
                            <title>Megamenu</title>
                            <sort_order>1000</sort_order>

                        </megamenu>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <megamenu>
                    <file>megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <bc_megamenu>
            <bc_megamenu>
                <show>1</show>
            </bc_megamenu>
        </bc_megamenu>
    </default>
    <global>
        <helpers>
            <megamenu>
                <class>bc_megamenu_Helper</class>
            </megamenu>
        </helpers>
        <models>
            <megamenu>
                <class>bc_megamenu_Model</class>
                <resourceModel>megamenu_mysql4</resourceModel>
            </megamenu>
            <megamenugroup>
                <class>bc_megamenu_Model_megamenugroup</class>
                <resourceModel>megamenu_mysql4_megamenugroup</resourceModel>
            </megamenugroup>
            <megamenustoregroup>
                <class>bc_megamenu_Model_megamenustoregroup</class>
                <resourceModel>megamenu_mysql4_megamenustoregroup</resourceModel>
            </megamenustoregroup>
            <megamenu_mysql4>
                <class>bc_megamenu_Model_Mysql4</class>
                <entities>
                    <megamenu>
                        <table>megamenu</table>
                    </megamenu>
                    <megamenu_types>
                        <table>megamenu_types</table>
                    </megamenu_types>
                    <megamenu_store_menugroup>
                        <table>megamenu_store_menugroup</table>
                    </megamenu_store_menugroup>
                </entities>
            </megamenu_mysql4>
        </models>
        <resources>
            <megamenu_setup>
                <setup>
                    <module>bc_megamenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megamenu_setup>
            <megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megamenu_write>
            <megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megamenu_read>
        </resources>
        <blocks>
            <megamenu>
                <class>bc_megamenu_Block</class>
            </megamenu>
            <page>
                <rewrite>
                    <html_topmenu>bc_megamenu_Block_megamenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>